$remSet: 62.5%;

* { // this is a reset of our margin and padding
  margin: 0;
  padding: 0;
}
html {
  font-size: $remSet; // 62.5% of default vaule which is 16
                    // .625 * 16 = 10px which is our base font size
}
body {
  color: light-grey;
  background-color: lightgrey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;  // root em based off of font size of html
}


// li {
//   margin-left: 2rem;
// }

@import './components/_titleBar.scss';  //  ./ indicates to start in current folder
@import './components/_wrapper.scss';
@import './components/_singleItem.scss';
@import './components/_instructions.scss';
@import './components/_footer.scss';
